#header {
    position: fixed;
    height: 50px;
    display: block;
    width: 100%;
    z-index: 9;
}

html {
    overflow: hidden;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.nav-link {
    font-family: 'montserrat';
    color: #ffffff !important;
}

.navbar-nav {
margin-right: 2%;
margin-bottom: 2%;
}

.navbar-brand {
margin-left: 2%;
}


body {
margin: 0;
overflow-y: scroll;
scroll-snap-type: y mandatory;
height: 100%;
overflow: auto;
-webkit-overflow-scrolling: touch;
}

section {
  height: 100vh;
  color: white;
  scroll-snap-align: start;
  background-color: #ffffff;
  }


html {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.fill1 {
    min-height: 96%;
    background-color: #455d7a;
}

.fill2 {
    min-height: 96%;
    background-color: #f95959;
}

.fill3 {
    min-height: 96%;
    background-color: #facf5a;
}

.nav-link:hover{
  text-decoration: underline;
  background-color: #233142;
  font-weight: 400;
}
