#header {
    position: fixed;
    height: 50px;
    display: block;
    width: 100%;
    z-index: 9;
}

html {
    overflow: hidden;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.nav-link {
    font-family: 'montserrat';
    color: #ffffff !important;
}

.navbar-nav {
margin-right: 2%;
margin-bottom: 2%;
}

.navbar-brand {
margin-left: 2%;
}


body {
margin: 0;
scroll-snap-type: y mandatory;
height: 100%;
overflow: auto;
}

section {
  height: 100vh;
  color: white;
  scroll-snap-align: start;
  background-color: #ffffff;
  }


html {
    height: 96%;
    padding-top: 2%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.fill1 {
    min-height: 96%;
    background-color: #455d77;
}

.fill2 {
    min-height: 96%;
    background-color: #f95959;
}

.fill3 {
    min-height: 96%;
    background-color: #facf5a;
}

.nav-link:hover {
  font-weight: 200;
  text-decoration: underline;
  background-color: #233142;
}

#title{
  font-size: 250%;
  color: #facf5a;
  text-align: center;
  padding-top: 22vh;
  padding-left: 2%;
  padding-right: 2%;
}

#description {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

#text {
  text-align: center;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

#text2 {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}

#arrow {
  padding-top: 10px;
}

.dot {
    height: 50px;
    width: 120px;
    background-color: #facf5a;
    opacity: 0.5;
    border-radius: 0%;
    margin-left: 0%;
    margin-top: 10.8%;
    position: absolute;
}




//**save color 7ac9b6
